.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeCnt {
    margin-top: 10%;
}

@media screen and (max-width: 600px) {
    .homeCnt {
        width: 70%;
        text-align: -webkit-center;
        border-radius: 1rem;
        padding: 1%;
        padding-top: 2%;
        background-color: #4a6d4e7d;
        box-shadow: rgb(114 128 143 / 35%) 0px 0px 3px 1px inset;
    }
}

@media screen and (min-width: 601px) {
    .homeCnt {
        width: 30%;
        text-align: -webkit-center;
        border-radius: 1rem;
        padding: 1%;
        padding-top: 2%;
        background-color: #4a6d4e7d;
        box-shadow: rgb(114 128 143 / 35%) 0px 0px 3px 1px inset;
    }
}